html { 
   background: black;
   height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    background: black;
    display: flex;
    align-items: center;
}
#canvas {
    margin: 0 auto;
    background: #111;
    outline: 1px solid black;
    height: 100%;
    width: 100%;
}

.progress {
    z-index: 10;
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: "Verdana", monospace;
    font-size: 5rem;
    padding: 0.25em;
    left: 0;
    right: 0; 
}